.parent-container-todo {
  background-color: #554f4f;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 1.4rem auto 2.8rem auto;
  width: 94%;
}
.container-quotation-box {
  background: rgb(14, 12, 111);
  background: linear-gradient(
    90deg,
    rgba(14, 12, 111, 1) 0%,
    rgba(120, 80, 195, 1) 50%,
    rgba(221, 65, 212, 1) 100%
  );
  background: rgb(14, 12, 111);
  background: linear-gradient(
    90deg,
    rgba(14, 12, 111, 1) 0%,
    rgba(120, 80, 195, 1) 50%,
    rgba(221, 65, 212, 1) 100%
  );
  padding: 2rem 1.4rem;
  display: block;
  font-style: italic;
}

.remove-icon {
  position: absolute;
  color: white;
  right: 0.7rem;
  top: 5.2rem;
  font-size: 2rem;
}
.questionMark {
  position: absolute;
  color: blue;
  right: 3rem;
  top: 5.7rem;
  font-size: 1.7rem;
}

.quotation-box {
  color: white;
  border-color: currentColor;
}

.btn-remove-quote {
  position: absolute;
  right: 3rem;
  top: 4rem;
  width: 3rem;
}
@media screen and (min-width: 570px) {
  .parent-container-todo {
    background-color: #554f4f;
    grid-template-columns: repeat(2, 1fr);
    width: 84%;
    margin-left: 0;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .remove-icon {
    right: 3rem;
    top: 6.4rem;
  }
}

@media screen and (min-width: 1220px) {
  .parent-container-todo {
    background-color: #554f4f;
    grid-template-columns: repeat(3, 1fr);

    width: 70%;
    height: 100vh;
    margin-left: 2rem;
    gap: 1.4rem;
    margin-bottom: 2rem;
  }

  .remove-icon {
    right: 3rem;
    top: 6.4rem;
  }
}
