.parent-header-container {
  background-color: rgb(46, 44, 44);
  padding: 1rem;
  position: relative;
}
.head_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.nav-list {
  display: flex;
  gap: 1.4rem;
}

.nav-list .navlink {
  list-style: none;
  text-decoration: none;
}
.navlink {
  font-size: 24px;
  color: rgb(163, 163, 236);
}
.addlink {
  color: rgb(163, 163, 236) !important;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
