.parent-header-container {
  background-color: rgb(46, 44, 44);
  padding: 1rem;
  position: relative;
}
.head_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.nav-list .navlink {
  list-style: none;
  text-decoration: none;
}
.navlink {
  font-size: 24px;
  color: rgb(163, 163, 236);
}
.addlink {
  color: rgb(163, 163, 236) !important;
}

.avatar-hidden-login {
  border-radius: 22% 22% 12% 12%;
}
.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.logout-btn {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  justify-content: center;
}
.box-login-hidden {
  position: absolute;
  display: flex;
  gap: 1.2rem;
  background-color: #2e2c2c;
  width: 230px;
  right: 3rem;
  padding: 2rem 1rem;
  z-index: 999;
  top: 3rem;
}
.email-login {
  font-size: 16px;
  color: rgb(159, 79, 233);
  font-weight: bold;
  text-decoration: none;
}

.logout {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.logoutBtn {
  color: white;
}
.box-login {
  display: flex;
  flex-direction: column;
}

#search-box {
  position: absolute;
  top: 1.2rem;
  right: 9rem;
}
.addItemBox {
  position: relative;
}
.addItemBox:hover .add-item {
  display: block;
  transition: ease-in 2s;
}

.add-item {
  position: absolute;
  font-size: 14px;
  background-color: #2e2c2c;
  padding: 0.4rem 1.2rem;
  right: -1rem;
  top: 1.5rem;
  border-radius: 8px;
  display: none;
  color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
}
