.parent-container-box-todo {
  width: 74%;
}
.head-todo {
  background-color: rgb(46, 44, 44);
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
  color: white;
  margin-left: 2rem;
}
.title-head-todo {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 18px;
}

.burger-todo-icon {
  color: #9c9ced;
  font-size: 2rem;
  border-radius: 4px;
}

.box-todo {
  background-color: rgb(46, 44, 44);
  margin-top: 0.7rem;
  margin-left: 2rem;
  padding: 1.4rem;
  border-radius: 7px;
  margin-bottom: 0.3rem;
  color: white;
  width: 92%;
}

.box-todo .text-box {
  margin-top: 0.7rem;
  color: #919090;
}
